#baslik
{
    font-family: 'Exo 2', sans-serif;
    font-size: 52px;
    color: #752323;
}

body {
    background: #121212;
    background-image: linear-gradient(to right, #2b5876, #4e4376);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  